{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "overrides": [],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "simple-import-sort",
    "import",
    "prettier"
  ],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/require-default-props": 0,
    "react/no-unused-prop-types": "warn",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "import/first": "warn",
    "import/newline-after-import": "warn",
    "import/no-duplicates": "error",
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": [
      "off",
      { "devDependencies": ["**/*.test.js", "**/*.spec.js"] }
    ],
    "max-classes-per-file": 0,
    "@typescript-eslint/no-inferrable-types": 0
  }
}
